name: Publish

on:
  workflow_run:
    workflows: ["Release"]
    types: [completed]


permissions:
  contents: write

jobs:
  publish:
    uses: elenakulgavaya/surety-actions/.github/workflows/publish.yml@main
    secrets:
      PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
