name: Publish

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    uses: elenakulgavaya/surety-actions/.github/workflows/publish.yml@main
    secrets:
      PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
